.jld #lander_handle {
  cursor:move;
  background:transparent url(//baddth.com/jld/images/handle.png) no-repeat center;
  width:15px;
  height:35px;
  position:absolute;
  top:0;
  right:0
}
.jld #lander_widget input, .jld #lander_widget textarea {
  width: 100%;
  padding:4px;
  margin: 0.25em auto;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space:normal;
}
.jld .round {
  -webkit-border-radius: 5px;
}
.jld #closedTabs ul {
  text-align:center;
}
.jld #closedTabs .nobutton {
  border:0;
  background:none;
  margin:0 40px;
}
.jld #closedTabs .nobutton a {
  color:#000;
}
.jld #closedTabs .ui-state-active a {
  color:blue;
}
.jld #jobs, .jld #tasks, .jld #jobsPlus, .jld #tasksPlus {
  font-size:12px;
}
.jld .widget_wrapper {
  padding:5px;
  background:#fff;
}
.jld #lander_widget {
  font-size: 0.8em;
  z-index: 5;
  width:650px;
} 
.jld ul .ui-state-active, .jld ul .ui-widget-content .ui-state-active, .jld ul .ui-widget-header .ui-state-active {
  border-bottom: 0 !important;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -khtml-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jld #tasks .taskDg, .jld .positions .posDg, .jld .positions .posDgActive, .jld .positions .posIcon {
  display:inline-block;
  margin-right:10px;
}
.jld .positions .posDg {
  cursor:pointer;
}
.jld .positions .posTitle {
  display:inline-block;
}
.jld .positions .posDetail {
  background:#fff;
  padding:15px;
}
.jld .positions .posMail, .jld .positions .posTask {
  padding:5px;
  border: 1px solid #ccc;
  margin: 10px 0;
  width:400px;
}
.jld .positions .posDg {
  opacity:0.5;
}
.jld .positions .posDgActive {
  opacity:1;
}
.jld .task:hover, .jld .pos:hover {
  background:#fff;
}
.jld .task, .jld .pos, .jld .feed {
  border-bottom:1px solid #ccc;
  padding:5px;
  margin:5px 0;
  background:#f7fcff;
  position:relative;
}
.jld .notify {
  background:#e90000;
  color:#fff;
  padding:3px 5px;
  font-size:10px;
  font-weight:bold;
  text-align:center;
  margin-left:5px;
}
.jld .ui-widget .stepBtn {
  font-size:12px;
  height:100px;
  width:100px;
  float:left;
  margin:0 1px;
  border:0;
  -moz-border-radius-bottomleft:6px;
  -webkit-border-bottom-left-radius:6px;
  -khtml-border-bottom-left-radius:6px;
  border-bottom-left-radius:6px;
  -moz-border-radius-bottomright:6px;
  -webkit-border-bottom-right-radius:6px;
  -khtml-border-bottom-right-radius:6px;
  border-bottom-right-radius:6px;
}
.jld .stepBtn a, .jld .ui-tabs .ui-tabs-nav .stepBtn a {
  font-size:13px;
  white-space:normal;
  text-align:center;
  color:#fff;
  height:80px;
  float:none;
  display:block
}
.jld #stepBox {
  background:#E2F3FF;
  padding:10px 0;
}
.jld a {
  text-decoration:none;
}
.jld .posBoxCount {
  background:#fff;
  padding:5px 10px;
  border:1px solid #ccc;
  color:#000;
  position:absolute;
  bottom:5px;
  left:50%;
  width:35px;
  margin-left:-27px;
  text-align:center;
}
.jld #stepTabs h3 {
  padding:0 1.4em;
  color:#999;
  text-align:center;
}
.jld .actions input {
  padding:5px;
}
.jld .ui-widget-content .posMail a, .jld .ui-widget-content .posTask a {
  color:blue;
  text-decoration:underline;
}
.jld .pos .posDetail {
  display:none;
}
.jld .posExpand .posDetail {
  display:block;
}
.jld .posExpand .posTitle {
  font-weight:bold;
}
.jld .pos .posMoveBtn, .jld .pos .posEmailBtn {
  position:absolute;
  right:5px;
  top:-5px;
}
.jld #tabs-2 .posMoveBtn button {
  width:180px;
}
.jld .pos .posMoveBtn button {
  width:100px;
}
.jld #posMoveExpanded {
  display:none;
  position:absolute;
  z-index:1005;
  width:200px;
  background:white;
  border:1px solid #ccc;
  right:102px;
  top:0px;
  width:200px;
  padding:5px;
}
.jld .confirmMessage {
  text-align:center;
  color:red;
}
.jld #posMoveExpanded button {
  width:200px;
  margin:0;
}
.jld .posTitle{
  cursor:pointer;
}
.jld .posMoveBtn .ui-icon {
  float:right;
}
.jld .positions {
    overflow-y:scroll;
    max-height:260px;
}
.jld #posMoveExpandedLayer {
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    display:none;
}
.jld .setting-icon {
    width:22px;
	height:22px;
	display:inline-block;
	background:url(//baddth.com/jld/images/setting-icon.png);
}
.jld #new_position_email input { 
    display: inline-block;
    width: 16px;
}
.jld #new_position_email .ui-icon-link {
    display: inline-block;
}
.jld #new_position_email .email {    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 15px;
    width: 450px;
    display: inline-block;
    color: blue;
    text-decoration: underline;
}
.jld .dsplyAttachment {
    display:none;
}
.jld .attachment .dsplyAttachment {
    display:block;
}
.jld .attachment .dsplyMove {
    display:none;
}